# 10 Minutes to pandas
## Object Creation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20171122', periods=6)

In [4]:
dates

DatetimeIndex(['2017-11-22', '2017-11-23', '2017-11-24', '2017-11-25',
               '2017-11-26', '2017-11-27'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), 
                  index=dates, 
                  columns=list('ABCD'))
df

                   A         B         C         D
2017-11-22  0.648588 -2.144830  1.067671  0.828337
2017-11-23  0.074746 -0.157673 -0.554642  0.006832
2017-11-24 -1.421318 -0.470517 -0.592799 -0.457793
2017-11-25 -0.279116  0.745073  0.331938 -1.294806
2017-11-26  0.689187 -1.821491  0.018594 -0.073988
2017-11-27 -0.109586  0.181941 -0.803440 -0.547862

In [6]:
df2 = pd.DataFrame({
    'A' : 1.,
    'B' : pd.Timestamp('20171122'),
    'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
    'D' : np.array([3] * 4, dtype='int32'),
    'E' : pd.Categorical(['test', 'train', 'test', 'train']),
    'F' :'foo'
})
df2

     A          B    C  D      E    F
0  1.0 2017-11-22  1.0  3   test  foo
1  1.0 2017-11-22  1.0  3  train  foo
2  1.0 2017-11-22  1.0  3   test  foo
3  1.0 2017-11-22  1.0  3  train  foo

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
# df2.<TAB>

# Viewing Data

In [9]:
df.head()

                   A         B         C         D
2017-11-22  0.648588 -2.144830  1.067671  0.828337
2017-11-23  0.074746 -0.157673 -0.554642  0.006832
2017-11-24 -1.421318 -0.470517 -0.592799 -0.457793
2017-11-25 -0.279116  0.745073  0.331938 -1.294806
2017-11-26  0.689187 -1.821491  0.018594 -0.073988

In [10]:
df.tail(3)

                   A         B         C         D
2017-11-25 -0.279116  0.745073  0.331938 -1.294806
2017-11-26  0.689187 -1.821491  0.018594 -0.073988
2017-11-27 -0.109586  0.181941 -0.803440 -0.547862

In [11]:
df.index

DatetimeIndex(['2017-11-22', '2017-11-23', '2017-11-24', '2017-11-25',
               '2017-11-26', '2017-11-27'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
df.values

array([[ 0.64858798, -2.14482971,  1.06767075,  0.82833748],
       [ 0.07474574, -0.15767327, -0.55464193,  0.00683162],
       [-1.42131772, -0.47051742, -0.59279855, -0.45779339],
       [-0.27911587,  0.74507267,  0.33193774, -1.29480628],
       [ 0.68918748, -1.82149076,  0.01859428, -0.07398809],
       [-0.10958643,  0.18194085, -0.8034402 , -0.54786243]])

In [14]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.066250 -0.611250 -0.088780 -0.256547
std    0.772652  1.141127  0.708197  0.704701
min   -1.421318 -2.144830 -0.803440 -1.294806
25%   -0.236734 -1.483747 -0.583259 -0.525345
50%   -0.017420 -0.314095 -0.268024 -0.265891
75%    0.505127  0.097037  0.253602 -0.013373
max    0.689187  0.745073  1.067671  0.828337

In [15]:
df.T

   2017-11-22  2017-11-23  2017-11-24  2017-11-25  2017-11-26  2017-11-27
A    0.648588    0.074746   -1.421318   -0.279116    0.689187   -0.109586
B   -2.144830   -0.157673   -0.470517    0.745073   -1.821491    0.181941
C    1.067671   -0.554642   -0.592799    0.331938    0.018594   -0.803440
D    0.828337    0.006832   -0.457793   -1.294806   -0.073988   -0.547862

In [16]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2017-11-22  0.828337  1.067671 -2.144830  0.648588
2017-11-23  0.006832 -0.554642 -0.157673  0.074746
2017-11-24 -0.457793 -0.592799 -0.470517 -1.421318
2017-11-25 -1.294806  0.331938  0.745073 -0.279116
2017-11-26 -0.073988  0.018594 -1.821491  0.689187
2017-11-27 -0.547862 -0.803440  0.181941 -0.109586

In [17]:
df.sort_values(by='B')

                   A         B         C         D
2017-11-22  0.648588 -2.144830  1.067671  0.828337
2017-11-26  0.689187 -1.821491  0.018594 -0.073988
2017-11-24 -1.421318 -0.470517 -0.592799 -0.457793
2017-11-23  0.074746 -0.157673 -0.554642  0.006832
2017-11-27 -0.109586  0.181941 -0.803440 -0.547862
2017-11-25 -0.279116  0.745073  0.331938 -1.294806